<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>adminka_login</title>
        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" href="/static/css/adminka.css">
    </head>
    <body class="b">
        <div class="adminka_login_form">
            <form action="/adminka" method="post">
                <input class="contact_form_input" type="text" name="login" placeholder="логин">
                <input class="contact_form_input" type="text" name="password" placeholder="пароль">
                <input class="contact_form_input" type="submit" value="войти">
            </form>
        </div>
    </body>
</html>