<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>adminka</title>
        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" href="/static/css/adminka.css">
    </head>
    <body>
        <header>
            <a class="logo_link" href="/"><img src="/static/img/logo1.png" alt="logo/to index"></a>
            <a class="btn_link" href="/contacts">заявки</a>
            <!--<a class="btn_link" href="#">#</a>-->
        </header>
        <div class="body">
            [pass]
        </div>
        <footer>
            [pass]
        </footer>
    </body>
</html>