<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>заявки</title>
        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" href="/static/css/contacts.css">
        <script defer src="/static/js/scripts/contacts.js"></script>

    </head>
    <body>
        <header>
            <a class="logo_link" href="/">
                <img src="/static/img/logo1.png" alt="logo/to index">
            </a>
            <a class="btn_link curd">заявки</a>
            <!--<a class="btn_link" href="#">#</a>-->
        </header>
        <div class="body">
            <div class="applications">
                <div class="application">
                    <p><span>имя: </span><span>Admin</span></p>
                    <p><span>фамилия: </span><span>king</span></p>
                    <p><span>почта: </span><span>admin@mail.site</span></p>
                </div>
                <div class="application">
                    <p><span>имя: </span><span>Admin</span></p>
                    <p><span>фамилия: </span><span>king</span></p>
                    <p><span>почта: </span><span>admin@mail.site</span></p>
                </div>
                <div class="application">
                    <p><span>имя: </span><span>Admin</span></p>
                    <p><span>фамилия: </span><span>king</span></p>
                    <p><span>почта: </span><span>admin@mail.site</span></p>
                </div>
            </div>
        </div>
        <footer>
            [pass]
        </footer>
    </body>
</html>